- model_class = Post
div class="page-header"
  h1 Search
= form_tag posts_path, :method => :get, class: "form form-horizontal post" do
  .input-group
      span.input-group-addon Query
      = text_field_tag :query, params[:query], :class => 'form-control'
      span.input-group-btn= submit_tag :Find, :class => 'btn btn-primary'


div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
- posts = @search.to_a
- if posts.present?
  = anchor_links posts.count
  - @search.each_with_index do |post, i|
    - anchor = i + 1
    .panel.panel-primary
      .panel-heading
        h4
          a name="#{anchor}"
          = highlight_text post.title, @search.terms
      .panel-body=highlight_text post.body, @search.terms
      .panel-footer
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-default'
        '
        = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'

